@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25272a;
}
.container {
  position: relative;
  overflow: hidden;
  width: 350px;
  border-radius: 50px;
  padding: 25px 30px;
  box-shadow: 0px 6px 15px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c3136;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-header i {
  /* border: 1px solid lightgray; */
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #292d32;
  color: #7f8184;
  box-shadow: -4px -2px 20px #48535c, -26px -26px 63px #424f5e;
}

.top-header span {
  color: #7f8184;
}
.timer {
  position: absolute;
  top: 100px;
  color: #7f8184;
}
.timer span {
  font-size: 12px;
  opacity: 0.9;
}
.start {
  padding: 0px 4px;
  border-left: 1px solid #7f8184;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;

  margin: 40px;
}

.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 58px);
  height: calc(100% - 58px);
  border-radius: 50%;

  box-shadow: -4px -2px 20px #45515a, 0px -2px 63px #23303d;
}
.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  transform: rotate(-64deg);
}
.circle {
  stroke: #25272a;
  stroke-width: 4px;
  stroke-dasharray: 691;
  stroke-dashoffset: 100;
  stroke-linecap: round;
}
.circle2 {
  stroke: #3c90a9;
  stroke-width: 4px;
  stroke-dasharray: 691;
  stroke-dashoffset: 691;
  stroke-linecap: round;
}
.dots {
  display: block;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.songs-detail {
  text-align: center;
  margin-bottom: 25px;
}
.songs-detail .name {
  font-size: 21px;
  color: #a8aaab;
}
.songs-detail .artist {
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
  color: #7f8184;
}
.buttons-area {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 35px 0;
}
.play-pause {
  display: flex;
  align-items: center;
}
.play-pause i {
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #3c90a9;
}
.speed {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #25282c;
  color: #85888b;
  box-shadow: -4px -2px 20px #48535c, -26px -26px 63px #424f5e;
}
#more-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#prev,
#next {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

#repeat-plist,
#more-music,
#fast-forward,
#fast-rewind {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #25282c;
  color: #85888b;
  box-shadow: -4px -2px 20px #48535c, -26px -26px 63px #424f5e;
}

.addColor {
  color: #195e74;
}

.music-list {
  width: 100%;
  padding: 15px 22px;
  position: absolute;
  bottom: -50%;
  opacity: 0;
  left: 0;
  background-color: #40474e;
  border-radius: 10px;
  transition: all 0.15s ease-out;
}
.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header {
  width: 100%;
  padding: 0 10px;
  color: #c8ccd1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .row {
  display: flex;
  align-items: center;
  column-gap: 2px;
}
.header #close {
  cursor: pointer;
  font-size: 20px;
}
.music-list ul {
  margin: 25px 0;
  max-height: 260px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: inherit;
}
.music-list ul::-webkit-scrollbar {
  background-color: #25272a;
  width: 0;
}
.music-list ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #85888b;
  background-color: inherit;
}

.music-list ul li i {
  width: 30px;
  height: 30px;
  font-size: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #292d32;
  color: #85888b;
  box-shadow: 0px 1px 7px #48535c, 1px -1px 63px #424f5e;
}
.music-list ul li:hover {
  background-color: #00000028;
  border-radius: 12px;
}
li .list-details .musicName {
  color: #ebe0e0c4;
}
li .list-details .musicArtist {
  color: #ebe0e07a;
}
